# Docker Compose file for Marple Offline deployment
# Uses environment variables defined in the .env file located in the same directory
services:
  # marple:
    # container_name: $CONTAINER_NAME_INSIGHT
    # image: docker.marpledata.com/library/marple:$VERSION_INSIGHT
    # env_file:
      # - .env
    # ports:
      # - $PORT_INSIGHT:80 # first port is host
    # volumes:
      # # This should match the PATH_ROOT value in marple-deployment/core/config.yaml
      # - $DOCKER_PATH_ROOT/insight:/srv/marple
    # depends_on:
      # - postgres
      # - dex
    # restart: unless-stopped

  # marpledb:
    # container_name: $CONTAINER_NAME_DB
    # image: docker.marpledata.com/library/marpledb:$VERSION_DB
    # env_file:
      # - .env
    # ports:
      # - $PORT_DB:80 # first port is host
    # volumes:
      # - $DOCKER_PATH_ROOT/db:/srv/marpledb
    # depends_on:
      # - postgres
      # - dex
    # restart: unless-stopped

  dex:
    image: dexidp/dex:latest-alpine
    container_name: marple-dex
    volumes:
      - $DOCKER_PATH_ROOT/dex-config.yaml:/etc/dex/config.yaml
    ports:
      - "5556:5556"
      - "5558:5558"
    restart: unless-stopped
    command: ["dex", "serve", "/etc/dex/config.yaml"]

  postgres:
    container_name: $CONTAINER_NAME_PG
    image: postgres:18-alpine
    environment:
      - POSTGRES_USER=$MARPLE_POSTGRES_USER
      - POSTGRES_PASSWORD=$MARPLE_POSTGRES_PW
      - POSTGRES_DB=$MARPLE_POSTGRES_DB_NAME
    shm_size: 256mb
    volumes:
      - $DOCKER_PATH_ROOT/pg:/var/lib/postgresql
    ports:
      - $MARPLE_POSTGRES_PORT:$MARPLE_POSTGRES_PORT
    expose:
      - $MARPLE_POSTGRES_PORT
    command: -p $MARPLE_POSTGRES_PORT
    restart: unless-stopped
