version: "3"

# WARNING, THIS FILE IS A COPY OF docker-compose.yml, BOTH WITH THE "BUILD" SECTIONS LEFT OUT
# THIS FILE SHOULD NEVER BE MODIFIED DIRECTLY
services:
  nginx:
      container_name: marple-nginx
      image: docker.getmarple.io/marple-nginx
      ports:
        - "80:80"
      depends_on:
        - core
        - timescale
      restart: unless-stopped

  core:
      container_name: marple-core
      image: docker.getmarple.io/marple-core
      volumes:
        - '$MARPLE_HOME:/srv/marple'
        - '$MARPLE_FILE_SERVER:/etc/file_server'
      expose:
        - "46064"
      restart: unless-stopped

  timescale:
      container_name: marple-timescale
      image: timescale/timescaledb:latest-pg12
      environment:
        - POSTGRES_PASSWORD=secret
        - TS_TUNE_MEMORY=1GB # = 25% if 4 GB RAM
      volumes:
        - '$MARPLE_HOME/postgres:/var/lib/postgresql/data'
      expose:
        - "5432"
      restart: unless-stopped
