# This is the default configuration for running Marple on-premise
# A postgres in docker is included, but it is optional, see .env for configuration
# Please get in touch with support@marpledata.com for guidance and licensing
services:
  marple:
    container_name: marple
    image: docker.getmarple.io/marple:2.4.6
    environment:
      - MARPLE_AUTO_JOIN_WORKSPACE=true
      - MARPLE_SEND_MAIL=false
      - MARPLE_AUTH0_DOMAIN=marple.eu.auth0.com
      - MARPLE_DEPLOYMENT=$MARPLE_DEPLOYMENT
      - MARPLE_PUBLIC_URL=$MARPLE_PUBLIC_URL
      - MARPLE_AUTH0_DOMAIN=$MARPLE_AUTH0_DOMAIN
      - MARPLE_AUTH0_MARPLE_APP_CLIENT_ID=$MARPLE_AUTH0_MARPLE_APP_CLIENT_ID
      - MARPLE_AUTH0_MARPLE_API_AUDIENCE=$MARPLE_AUTH0_MARPLE_API_AUDIENCE
      - MARPLE_TIMESCALE_PORT=$MARPLE_TIMESCALE_PORT
      - MARPLE_TIMESCALE_DB_NAME=$MARPLE_TIMESCALE_DB_NAME
      - MARPLE_TIMESCALE_PW=$MARPLE_TIMESCALE_PW
      - MARPLE_TIMESCALE_USER=$MARPLE_TIMESCALE_USER
      - MARPLE_TIMESCALE_HOST=$MARPLE_TIMESCALE_HOST
      - MARPLE_MAX_INGESTION_DPS=$MARPLE_MAX_INGESTION_DPS
    ports:
      - "$MARPLE_PORT:80" # first port is host
    volumes:
      - '$MARPLE_HOME:/srv/marple'
      - '$MARPLE_FILE_SYSTEM/file_server:/etc/file_server_volume'
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    container_name: marple-postgres
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=$MARPLE_TIMESCALE_USER
      - POSTGRES_PASSWORD=$MARPLE_TIMESCALE_PW
      - POSTGRES_DB=$MARPLE_TIMESCALE_DB_NAME
      - TS_TUNE_MEMORY=$MARPLE_TIMESCALE_RAM
    shm_size: 256mb
    volumes:
      - '$MARPLE_FILE_SYSTEM/db:/var/lib/postgresql/data'
    ports:
      - 5432:5432
    expose:
      - 5432
    restart: unless-stopped
