# configuration file for a Marple deployment

# required to pull containers from docker.getmarple.io
imagePullSecrets:
  - name: docker-regcred

# secret with database/IdP credentials
secretName: marple-secrets

# container
image:
  repository: docker.getmarple.io/marple
  pullPolicy: IfNotPresent
  # tag will default to .Chart.AppVersion

# container configuration
env:
  - name: MARPLE_DEPLOYMENT
    value: "TODO" # Ask Marple team, e.g. Your-company
  - name: MARPLE_CONNECTION_TYPE
    value: "TODO"
  - name: MARPLE_PUBLIC_URL
    value: "TODO" # e.g. marple.yourcompany.com
  - name: MARPLE_AUTO_JOIN_WORKSPACE
    value: "true"
  - name: MARPLE_POSTGRES_HOST
    value: "TODO"
  - name: MARPLE_POSTGRES_DB_NAME
    value: "marple"
  - name: MARPLE_POSTGRES_PORT
    value: "5432"
  - name: MARPLE_POSTGRES_USER
    value: "TODO"
  - name: MARPLE_POSTGRES_PW
    value: "TODO"
  - name: MARPLE_AUTH_PROVIDER
    value: OFFLINE
  - name: MARPLE_OAUTH_DOMAIN
    value: "TODO"
  - name: MARPLE_OAUTH_ISSUER
    value: "TODO"
  - name: MARPLE_OAUTH_API_AUDIENCE
    value: "TODO"
  - name: MARPLE_OAUTH_APP_CLIENT_ID
    value: "TODO"

# container sizing
resources:
  cpu: "4"
  memory: "8Gi"

# persistent volume to store files
volume:
  storage: 20Gi
  className: managed-csi
  hostPath: false

# load balancer to expose HTTP traffic
service:
  enabled: false
