env:
  - name: MARPLE_DEPLOYMENT
    value: "TODO" # Ask Marple team, e.g. Your-company
  - name: MARPLE_PUBLIC_URL
    value: "# TODO" # e.g. marple.yourcompany.com
  - name: MARPLE_IS_OFFLINE
    value: "true"
  - name: MARPLE_AUTO_JOIN_WORKSPACE
    value: "true"
  - name: MARPLE_TIMESCALE_HOST
    value: 192.168.84.179
  - name: MARPLE_TIMESCALE_PORT
    value: "5432"
  - name: MARPLE_TIMESCALE_USER
    value: marple
  - name: MARPLE_TIMESCALE_PW
    value: secret

imagePullSecrets:
  - name: docker-regcred

service:
  enabled: true

volume:
  className: standard
  hostPath: true
