#docker-compose suited for Marple connect deployments (staging nightly)
services:
  marple:
    container_name: $MARPLE_CONTAINER_NAME
    image: docker.marpledata.com/library/marple:$MARPLE_VERSION
    env_file:
      - .env
    ports:
      - $MARPLE_PORT:80 # first port is host
    volumes:
      # This should match the PATH_ROOT value in marple-deployment/core/config.yaml
      - $DOCKER_PATH_ROOT:/srv/marple
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    container_name: $MARPLE_POSTGRES_HOST
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=$MARPLE_POSTGRES_USER
      - POSTGRES_PASSWORD=$MARPLE_POSTGRES_PW
      - POSTGRES_DB=$MARPLE_POSTGRES_DB_NAME
      - TS_TUNE_MEMORY=$MARPLE_POSTGRES_RAM # = 25% if 4 GB RAM
    shm_size: 256mb
    volumes:
      - "$DOCKER_PATH_ROOT/db:/var/lib/postgresql/data"
    ports:
      - $MARPLE_POSTGRES_PORT:$MARPLE_POSTGRES_PORT
    expose:
      - $MARPLE_POSTGRES_PORT
    command: -p $MARPLE_POSTGRES_PORT
    restart: unless-stopped
