# configuration file for a Marple deployment

# required to pull containers from docker.getmarple.io
imagePullSecrets:
  - name: docker-regcred

# container
image:
  repository: docker.getmarple.io/marple
  pullPolicy: IfNotPresent
  # tag will default to .Chart.AppVersion

# container configuration
env:
  - name: MARPLE_POSTGRES_HOST
    value: "TODO"
  - name: MARPLE_POSTGRES_PORT
    value: "5432"
  - name: MARPLE_POSTGRES_USER
    value: "TODO"
  - name: MARPLE_POSTGRES_PW
    value: "TODO"
  - name: MARPLE_POSTGRES_DB_NAME
    value: "marple"
  - name: MARPLE_DEPLOYMENT
    value: "TODO" # Ask Marple team, e.g. Your-company
  - name: MARPLE_PUBLIC_URL
    value: "TODO" # e.g. marple.yourcompany.com
  - name: MARPLE_AUTH_PROVIDER
    value: OFFLINE
  - name: MARPLE_OAUTH_DOMAIN
    value: "TODO"
  - name: MARPLE_OAUTH_ISSUER
    value: "TODO"
  - name: MARPLE_OAUTH_API_AUDIENCE
    value: "TODO"
  - name: MARPLE_OAUTH_APP_CLIENT_ID
    value: "TODO"
  - name: MARPLE_OAUTH_SCOPE
    value: "" # Optionally
  - name: MARPLE_OAUTH_GROUP_KEY
    value: "" # Optionally, to assign users to workspaces from IdP
  - name: MARPLE_AUTO_JOIN_WORKSPACE
    value: "false"
  - name: MARPLE_AUTO_CREATE_WORKSPACE
    value: "false"
  - name: MARPLE_SUPERUSER_ID
    value: "" # has to be a sub from your IdP
  - name: MARPLE_SUPERUSER_GROUP
    value: "" # has to be a group from your IdP
  - name: MARPLE_POSTMARK_SEND_MAIL
    value: true # send emails on user invites
# container sizing
resources:
  cpu: "4"
  memory: "8Gi"

# persistent volume to store files
volume:
  storage: 20Gi
  className: managed-csi
  hostPath: false

# service configuration for exposing HTTP traffic
service:
  enabled: false
  # Service type: ClusterIP (internal), NodePort (limited external), LoadBalancer (full external)
  type: ClusterIP
  # NodePort for NodePort service type (default: 30080)
  nodePort: 30080
  # Annotations for service (useful for cloud provider specific settings)
  annotations:
    {}
    # Example for Azure internal LoadBalancer:
    # service.beta.kubernetes.io/azure-load-balancer-internal: "true"
    # service.beta.kubernetes.io/azure-load-balancer-sku: "Standard"
