COMPOSE_PATH_ROOT=./data # TODO, where all data is stored

VERSION_INSIGHT=3.2.1 # TODO set latest version
VERSION_DB=3.2.2 # TODO set latest version

DEPLOYMENT="TODO, ask Marple team"
LOG_SHOULD_UPLOAD=True # Set to False to turn off telemetry
LICENSING_SERVER_ENABLED=True # If set to False, ask the Marple team for an offline license


# Exposed Ports
COMPOSE_PORT_INSIGHT=8000
COMPOSE_PORT_DB=8001
COMPOSE_PORT_TRINO=8080


# Postgres settings
POSTGRES_HOST=marple-postgres
POSTGRES_PORT=5432
POSTGRES_DB=marple
POSTGRES_USER=marple
POSTGRES_PASSWORD=secret

# Object Storage settings
MDB_AWS_ENDPOINT=http://marple-garage:3900
MDB_AWS_REGION=eu-central-1
MDB_AWS_ACCESS_KEY= # TODO Copy `Key ID` during garage setup (see README / 3. Start Everything)
MDB_AWS_SECRET_KEY= # TODO Copy `Secret key` during garage setup (see README / 3. Start Everything)


# Identity Provider Settings (OFFLINE or OAUTH)
IDP_PROVIDER="OFFLINE"

# OIDC Settings, only relevent when using OAUTH as IDP provider
OIDC_DOMAIN= # TODO, link to IdP
OIDC_ISSUER= # TODO, link to IdP
OIDC_AUDIENCE= # TODO, link to IdP
OIDC_CLIENT= # TODO, link to IdP
OIDC_SCOPE= # TODO, link to IdP, default is "openid profile email"

# Marple Insight Settings
MARPLE_API_WORKERS=2
MARPLE_AUTO_JOIN_WORKSPACE=False
MARPLE_AUTO_CREATE_WORKSPACE=False
MARPLE_POSTMARK_SEND_MAIL=False

# Marple DB Settings
MDB_API_WORKERS = 2
MDB_PATH_BACKUP = "s3://mdb/backup"
MDB_PATH_COLD = "s3://mdb/cold"
MDB_INGEST_WORKERS=2
MDB_INGEST_WORKERS_PER_WORKSPACE=2
MDB_INGEST_THREADS_PER_WORKER=8
MDB_TRINO_HOST=http://marple-trino
MDB_TRINO_PORT=8080

# Trino Settings
TRINO_SHARED_SECRET="not-important"
# Sane defaults for VM with 16GB RAM => 8GB reserved for Trino
TRINO_QUERY_MAX_MEMORY="3GB"
TRINO_QUERY_MAX_MEMORY_PER_NODE="3GB"
TRINO_HEAP_HEADROOM_PER_NODE="1GB"
TRINO_QUERY_MAX_TOTAL_MEMORY="6GB"
