services:
  postgres:
    env_file:
    - .env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test:
      - CMD-SHELL
      - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      timeout: 5s
    image: docker.io/library/postgres:18-alpine
    ports:
    - ${POSTGRES_PORT:-5432}:5432
    volumes:
    - ${COMPOSE_PATH_ROOT}/postgres:/var/lib/postgresql
    restart: unless-stopped

  garage:
    image: dxflrs/garage:v2.1.0
    ports:
      - "3900:3900" # S3 API
      - "3903:3903" # Admin API
    volumes:
    - ./garage.toml:/etc/garage.toml
    - ${COMPOSE_PATH_ROOT}/garage/data:/var/lib/garage/data
    - ${COMPOSE_PATH_ROOT}/garage/meta:/var/lib/garage/meta
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test: ["CMD", "/garage", "status"]
      timeout: 5s
    restart: unless-stopped

  dex:
    image: dexidp/dex:latest-alpine
    ports:
      - "8080:8080"
    volumes:
      - ./dex-config.yaml:/etc/dex/config.yaml
    depends_on:
      postgres:
        condition: service_healthy
    command: ["dex", "serve", "/etc/dex/config.yaml"]
    restart: unless-stopped
    networks:
      default:
        aliases:
          - marple.local

  # keycloak:
  #   command:
  #   - start-dev
  #   - --import-realm
  #   env_file:
  #     - .env
  #   environment:
  #    KC_HOSTNAME: http://marple.local:8080
  #    KC_HTTP_ENABLED: true
  #    KC_DB: postgres
  #    KC_DB_URL: jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_DB}
  #    KC_DB_USERNAME: ${POSTGRES_USER}
  #    KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
  #   image: quay.io/keycloak/keycloak:latest
  #   ports:
  #   - ${COMPOSE_PORT_KEYCLOAK:-8080}:8080
  #   volumes:
  #   - ./marple-realm.json:/opt/keycloak/data/import/marple-realm.json
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   restart: unless-stopped
  #   networks:
  #     default:
  #       aliases:
  #         - marple.local

  marple-insight:
    image: docker.marpledata.com/library/marple-insight:${VERSION_INSIGHT:-1.21.1}
    env_file:
      - .env
    environment:
      MARPLE_DEPLOYMENT: $DEPLOYMENT
      MARPLE_POSTGRES_HOST: postgres
      MARPLE_POSTGRES_PORT: $POSTGRES_PORT
      MARPLE_POSTGRES_DB_NAME: $POSTGRES_DB
      MARPLE_POSTGRES_USER: $POSTGRES_USER
      MARPLE_POSTGRES_PW: $POSTGRES_PASSWORD
      MARPLE_AUTH_PROVIDER: OAUTH
      MARPLE_OAUTH_DOMAIN: $OIDC_DOMAIN
      MARPLE_OAUTH_ISSUER: $OIDC_ISSUER
      MARPLE_OAUTH_APP_CLIENT_ID: $OIDC_CLIENT
      MARPLE_OAUTH_API_AUDIENCE: $OIDC_AUDIENCE
      MARPLE_OAUTH_SCOPE: $OIDC_SCOPE
    ports:
      - ${COMPOSE_PORT_MARPLE:-80}:80 # first port is host
    volumes:
      - ${COMPOSE_PATH_ROOT}/insight:/srv/marple
    depends_on:
      - postgres
    restart: unless-stopped

  marple-db:
    image: docker.marpledata.com/library/marpledb:${VERSION_DB:-2.11.1}
    env_file:
      - .env
    environment:
      MDB_DEPLOYMENT: $DEPLOYMENT
      MDB_DB_HOST: postgres
      MDB_DB_PORT: $POSTGRES_PORT
      MDB_DB_NAME: $POSTGRES_DB
      MDB_DB_USER: $POSTGRES_USER
      MDB_DB_PASSWORD: $POSTGRES_PASSWORD
      MDB_OIDC_DOMAIN: $OIDC_DOMAIN
      MDB_OIDC_CLIENT: $OIDC_CLIENT
      MDB_OIDC_AUDIENCE: $OIDC_AUDIENCE
      MDB_OIDC_SCOPE: $OIDC_SCOPE
      UVICORN_TIMEOUT_WORKER_HEALTHCHECK: 60 # Startup can take a while
    ports:
      - ${COMPOSE_PORT_DB:-8000}:80 # first port is host
    volumes:
      - ${COMPOSE_PATH_ROOT}/db:/srv/marpledb
    depends_on:
      - postgres
      - garage
    restart: unless-stopped
